h1 {
    background-color: #37353E;
    color: white;
    text-align: left;
    height: 100px;
    width: auto;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
}
ul{
    background-color: black;
    margin: 0px;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin: 0px;
}
h2{
    color: black;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
}
.one{
    background-color: #D9CFC7;
    height: 200px;
    width: auto;
}
.two{
    height: 200px;
    width: auto;
}
footer{
    background-color: #37353E;
    color: white;
    margin: 0px;
    height: 150px;
    width: auto;
    padding: 10px;
    text-align: center;
}
h3{
    margin: 0px;
}